.navbar
  border-bottom: 0
  height: 50px
  line-height: 50px
  background-color: #565656
  box-shadow: 0 0 1px rgba(0,0,0,.4)
  a
    color: #fff
    text-decoration: none
.logo-wrapper
  font-size: 20px
  img
    width: 44px
    height: 44px
